.portfolio {
    margin-top: 100px;
}


/*css carrousel*/

.carousel {
    height: 500px;
    position: relative;
    clear: both;
    overflow: hidden;
    background: #FFF;
}

.carousel img {
    visibility: hidden;
    cursor: pointer;
    height: 500px;
    width: 700px;
}

.html_css {
    margin-top: 50px;
}

.html_css img {
    /*image html_css*/
    margin-top: 50px;
}

.carrou {
    /*classe du carrousel*/
    margin-top: 50px;
}

.wp {
    margin-top: 50px;
}

.wp img {
    margin-top: 50px;
}

.wp h3 {
    padding-left: 20px;
}

.js {
    /*partie javascript*/
    margin-top: 50px;
}

.js img {
    margin-top: 50px;
}

.jQuery {
    margin-top: 90px;
}

.imgjQ {
    margin-top: 40px;
}

.Moi {
    margin-top: 90px;
}

.cv {
    margin-top: 4600px;
}

.cv a:hover {
    background-color: darkgrey!important;
    border-color: darkgrey;
}

.cv a {
    background-color: black!important;
    border-color: black;
}

.contact {
    margin-top: 80px;
}

i {
    padding-left: 10px;
    color: black;
    padding-bottom: 30px;
}

i:hover {
    color: darkgrey;
}